{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>VibeCall</title>
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>
<div class="buttons-container">
    <h1>Vibe Call</h1>
    <h2>Welcome, {{ name }} {{ last }}!</h2>
    <a class="button new-meeting" href="{% url 'meeting' %}">New Meeting</a>
    <a class="button join-meeting" href="{% url 'join_room' %}">Join Meeting</a>
    <a class="button logout" href="{% url 'login' %}">Logout</a>
</div>
</body>
</html>
