{% autoescape off %}
<p>Hi {{ user.first_name }} {{ user.last_name }},</p>


<p>You're receiving this email because a password reset request was made for your account. If you didn't request this reset, you can safely ignore this email.</p>
<p>Otherwise, click the link below to reset your password:</p>
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>

<p>This link is valid for {{ timeout }} hours. If you have any issues, please contact support.</p>

<p>Best regards,<br>Vibe Call Team</p>
{% endautoescape %}
